<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/src/logo/twitter-color-svgrepo-com.svg" type="image/x-svg" />
    <link rel="stylesheet" href="/assets/css/output.css">
    <script src="assets/js/main.js" defer></script>
    <script src="https://kit.fontawesome.com/79839514b1.js" crossorigin="anonymous"></script>
    <title>wiwitter</title>
  </head>
<body class="bg-white font-sans font-semibold">
    <div class="h-screen flex flex-row justify-center justify-items-center">
      <div class="h-full flex flex-row">
        <div
          class="flex flex-col gap-14 h-full items-center border-white p-2 mt-7"
        >
          <a href="#/AnaSayfa"><i class="fa-solid fa-house text-blue-400 text-4xl"></i></a>
          <a href="#/"><i class="fa-solid fa-magnifying-glass text-blue-400 text-4xl"></i></a>
          <a href="#/"><i class="fa-solid fa-bell text-blue-400 text-4xl"></i></a>
          <a href="#/"><i class="fa-solid fa-envelope text-blue-400 text-4xl"></i></a>
          <a href="#/"><i class="fa-solid fa-newspaper text-blue-400 text-4xl"></i></a>
          <a href="#/"><i class="fa-solid fa-user text-blue-400 text-4xl"></i></a>
          <a href="#/"><i class="fa-solid fa-ellipsis text-blue-400 text-4xl"></i></a>
        </div>
        <div class="flex flex-col border-r-4 border-l-4 border-slate-50">
          <h2 class="mb-4 p-2 text-xl text-blue-300">Anasayfa</h2>
          <!-- Post atma kısmı -->
          <div class="lg:w-[650px]">
            <div class="border-b-4 border-slate-50">
              <div class="flex">
                
                <div class="container mx-auto p-4 mt-4">
                  <!-- Tweet Form -->
                  <div class="bg-white p-4 rounded-lg shadow-md mb-4">
                    <img src="/assets/src/logo/twitter-color-svgrepo-com.svg" alt="Profile Picture" class="w-12 h-12 rounded-full">
                      <textarea class="w-full p-2 border rounded-lg min-h-[100px]" rows="4" maxlength="280" placeholder="What's happening?"></textarea>
                      <div class="flex justify-between items-center mt-2">
                          <button class="bg-blue-500 text-white px-4 py-2 rounded-full hover:bg-blue-600 active:bg-blue-800">Tweet</button>
                      </div>
                  </div>
                  <div class="flex gap-4">
                    <i class="fa-solid fa-image text-blue-400 text-lg"></i>
                    <i class="fa-solid fa-photo-film text-blue-400 text-lg"></i>
                    <i class="fa-solid fa-face-smile text-blue-400 text-lg"></i>
                    <i class="fa-solid fa-location-dot text-blue-400 text-lg"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-4 px-5">
            <!-- Single Tweet -->
            <div class="bg-white p-4 rounded-lg shadow-md mb-4 w-full">
                <div class="flex items-center">
                    <img src="/assets/src/Tayyip.jpg" alt="Profile Picture" class="w-12 h-12 rounded-full">
                    <div class="ml-4">
                        <h2 class="font-semibold">Tayyip Balta</h2>
                        <p class="text-gray-600">@TayyipBalta - 2h ago</p>
                    </div>
                </div>
                <p class="mt-2">ilk yorum.</p>
                <p class="text-gray-600">iphone'umdan gönderildi.</p>
            </div>
            <div class="bg-white p-4 rounded-lg shadow-md mb-4 w-full">
              <div class="flex items-center">
                  <img src="/assets/src/duhan.png" alt="Profile Picture" class="w-12 h-12 rounded-full">
                  <div class="ml-4">
                      <h2 class="font-semibold">Duhan Özarslan</h2>
                      <p class="text-gray-600">@DuhanÖzarslan - 2h ago</p>
                  </div>
              </div>
              <p class="mt-2">ilk yorum.</p>
              <p class="text-gray-600">iphone'umdan gönderildi.</p>
            </div>
            <div class="bg-white p-4 rounded-lg shadow-md mb-4 w-full">
              <div class="flex items-center">
                  <img src="/assets/src/logo/twitter-color-svgrepo-com.svg" alt="Profile Picture" class="w-12 h-12 rounded-full">
                  <div class="ml-4">
                      <h2 class="font-semibold">Ahmet Dal</h2>
                      <p class="text-gray-600">@AhmetDal - 2h ago</p>
                  </div>
              </div>
              <p class="mt-2">ilk yorum.</p>
              <p class="text-gray-600">iphone'umdan gönderildi.</p>
            </div>

            <!-- More tweets can be added here -->
          </div>
        </div>
        <div class="hidden lg:block max-w-sm border-white p-6">
          <div class="flex items-center justify-center bg-white p-2 rounded-full shadow-md">
            <input
              type="search"
              placeholder="Ara"
              class="bg-transparent placeholder:text-blue-400 text-black outline-none appearance-none"
            />
            <i class="fa-solid fa-magnifying-glass text-blue-400"></i>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
  </body>
</html>
