<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <script type="application/javascript" src="/assets/js/main.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@1"></script>
    <script src="https://kit.fontawesome.com/79839514b1.js" crossorigin="anonymous"></script>
    <title>wiwitter</title>
  </head>
  <body class="bg-slate-900">
    <div class="min-h-screen bg-slate-900">
      <div class="h-full flex">
        <div
          class="flex flex-col items-center justify-between border-r border-gray-500 w-full max-w-[100px] lg:max-w-[200px] p-3"
        >
          <div class="flex flex-col h-full max-h-[500px] items-center justify-between">
            <i class="fa-solid fa-house text-white text-2xl"></i>
            <i class="fa-solid fa-magnifying-glass text-white text-2xl"></i>
            <i class="fa-solid fa-bell text-white text-2xl"></i>
            <i class="fa-solid fa-envelope text-white text-2xl"></i>
            <i class="fa-solid fa-newspaper text-white text-2xl"></i>
            <i class="fa-solid fa-user text-white text-2xl"></i>
            <i class="fa-solid fa-ellipsis text-white text-2xl"></i>
          </div>
        </div>
        <div class="flex-1 max-w-5xl">
          <h2 class="mb-4 p-2 text-xl text-white">Anasayfa</h2>
          <!-- Post atma kısmı -->
          <div class="mb-8">
            <div class="border-b-2 border-gray-500">
              <div class="flex p-3">
                <div class="w-fit">
                  <img
                    class="w-10 h-10"
                    src="/assets/src/logo/twitter-color-svgrepo-com.svg"
                    alt=""
                  />
                </div>
                <div class="ml-5 flex-1">
                  <div class="border-b-2 pb-2 mb-2 w-full border-gray-500">
                    <textarea
                      class="w-full rounded-md p-2 text-xl bg-slate-700 text-white placeholder:text-white"
                      placeholder="Neler oluyor?"
                      name="post-area"
                      id=""
                      cols="10"
                      rows="5"
                    ></textarea>
                  </div>
                  <div class="flex gap-4">
                    <i class="fa-solid fa-image text-white text-lg"></i>
                    <i class="fa-solid fa-photo-film text-white text-lg"></i>
                    <i class="fa-solid fa-face-smile text-white text-lg"></i>
                    <i class="fa-solid fa-location-dot text-white text-lg"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full max-w-3xl mx-auto">
            <div class="bg-white p-4 rounded-lg shadow-md mb-4 w-full">
              <div class="flex items-center">
                <img
                  src="/assets/src/Tayyip.jpg"
                  alt="Profile Picture"
                  class="w-12 h-12 rounded-full"
                />
                <div class="ml-4">
                  <h2 class="font-semibold">Tayyip Balta</h2>
                  <p class="text-gray-600">@TayyipBalta - 2h ago</p>
                </div>
              </div>
              <p class="mt-2">ilk yorum.</p>
              <p class="text-gray-600">iphone'umdan gönderildi.</p>
            </div>
          </div>
          <!-- post -->
          <div class="w-full max-w-3xl mx-auto">
            <div class="bg-white p-4 rounded-lg shadow-md mb-4 w-full">
              <div class="flex items-center">
                <img
                  src="/assets/src/Tayyip.jpg"
                  alt="Profile Picture"
                  class="w-12 h-12 rounded-full"
                />
                <div class="ml-4">
                  <h2 class="font-semibold">Tayyip Balta</h2>
                  <p class="text-gray-600">@TayyipBalta - 2h ago</p>
                </div>
              </div>
              <p class="mt-2">ilk yorum.</p>
              <p class="text-gray-600">iphone'umdan gönderildi.</p>
            </div>
            <!-- yorum gelecek -->
            <div>
              <button class="bg-blue-400">Yorum ekle</button>
            </div>
          </div>
          <div class="w-full max-w-3xl mx-auto">
            <div class="bg-white p-4 rounded-lg shadow-md mb-4 w-full">
              <div class="flex items-center">
                <img
                  src="/assets/src/Tayyip.jpg"
                  alt="Profile Picture"
                  class="w-12 h-12 rounded-full"
                />
                <div class="ml-4">
                  <h2 class="font-semibold">Tayyip Balta</h2>
                  <p class="text-gray-600">@TayyipBalta - 2h ago</p>
                </div>
              </div>
              <p class="mt-2">ilk yorum.</p>
              <p class="text-gray-600">iphone'umdan gönderildi.</p>
            </div>
          </div>
          <div class="w-full max-w-3xl mx-auto">
            <div class="bg-white p-4 rounded-lg shadow-md mb-4 w-full">
              <div class="flex items-center">
                <img
                  src="/assets/src/Tayyip.jpg"
                  alt="Profile Picture"
                  class="w-12 h-12 rounded-full"
                />
                <div class="ml-4">
                  <h2 class="font-semibold">Tayyip Balta</h2>
                  <p class="text-gray-600">@TayyipBalta - 2h ago</p>
                </div>
              </div>
              <p class="mt-2">ilk yorum.</p>
              <p class="text-gray-600">iphone'umdan gönderildi.</p>
            </div>
          </div>
          <div class="w-full max-w-3xl mx-auto">
            <div class="bg-white p-4 rounded-lg shadow-md mb-4 w-full">
              <div class="flex items-center">
                <img
                  src="/assets/src/Tayyip.jpg"
                  alt="Profile Picture"
                  class="w-12 h-12 rounded-full"
                />
                <div class="ml-4">
                  <h2 class="font-semibold">Tayyip Balta</h2>
                  <p class="text-gray-600">@TayyipBalta - 2h ago</p>
                </div>
              </div>
              <p class="mt-2">ilk yorum.</p>
              <p class="text-gray-600">iphone'umdan gönderildi.</p>
            </div>
          </div>
          <div class="w-full max-w-3xl mx-auto">
            <div class="bg-white p-4 rounded-lg shadow-md mb-4 w-full">
              <div class="flex items-center">
                <img
                  src="/assets/src/Tayyip.jpg"
                  alt="Profile Picture"
                  class="w-12 h-12 rounded-full"
                />
                <div class="ml-4">
                  <h2 class="font-semibold">Tayyip Balta</h2>
                  <p class="text-gray-600">@TayyipBalta - 2h ago</p>
                </div>
              </div>
              <p class="mt-2">ilk yorum.</p>
              <p class="text-gray-600">iphone'umdan gönderildi.</p>
            </div>
          </div>
        </div>
        <div class="hidden min-h-full lg:block lg:w-full lg:max-w-sm border-l border-gray-500 p-6">
          <!-- searchbar  -->
          <div class="flex items-center justify-between px-6 bg-slate-700 p-2 rounded-full mb-7">
            <input
              type="search"
              placeholder="Ara"
              class="bg-transparent placeholder:text-white text-white outline-none appearance-none"
            />
            <i class="fa-solid fa-magnifying-glass text-white"></i>
          </div>
          <!-- premium ad -->
          <div class="bg-slate-700 rounded-xl p-4 mb-12">
            <h3 class="text-white text-2xl mb-2">Premium'a Abone Ol</h3>
            <p class="text-white mb-4">
              Yeni özellikleri açmak için abone ol ve uygun olman durumunda reklam geliri payı
              kazan.
            </p>
            <button class="bg-blue-400 p-2 rounded-full px-5 font-bold text-white outline-none">
              Abone ol
            </button>
          </div>

          <!-- gündem -->
          <div class="bg-slate-700 p-4 rounded-xl flex flex-col gap-4">
            <h3 class="text-white text-xl">Türkiye Gündemi</h3>
            <div>
              <h3>1 - Gündemdekiler</h3>
              <span class="text-white">#Elon Musk</span>
            </div>
            <div>
              <h3>2 - Siyaset - Gündemdekiler</h3>
              <span class="text-white">#LibertySafe</span>
            </div>
            <div>
              <h3>3 - Gündemdekiler</h3>
              <span class="text-white">#NFC Champ</span>
              <p class="text-xs">
                Gündem konusu <span class="text-blue-400 text-xs">Super Bowl Champ,Bengals</span>
              </p>
            </div>
            <div>
              <h3>4 - Pop müzik - Gündemdekiler</h3>
              <span class="text-white">Zach Bryan</span>
            </div>
            <div>
              <h3>5 - Siyaset - Gündemdekiler</h3>
              <span class="text-white">E. Jean Carroll</span>
            </div>
            <div>
              <h3>5 - Basketbol - Gündemdekiler</h3>
              <span class="text-white">Luka</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
