<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <script src="/assets/js/main.js" defer></script>

    <title>wiwitter</title>
  </head>
  <body>
    <div class="h-screen bg-slate-900">
      <div
        class="max-w-7xl h-full justify-center flex flex-col md:flex-row items-center md:justify-between m-auto text-white"
      >
        <!-- left-side -->
        <div class="mb-5">
          <img
            id="twetter-img"
            src="assets/src/logo/twitter-color-svgrepo-com.svg"
            class="w-44 md:w-64 lg:w-72 xl:w-[500px]"
            alt="twetter icon"
          />
        </div>
        <!-- right-side -->
        <div class="grid gap-6">
          <h2 class="text-5xl max-w-sm md:text-7xl md:max-w-lg">Şu anda olup bitenler</h2>
          <p class="text-xl md:text-3xl" id="text">Hemen katıl.</p>

          <!-- login btn -->
          <a
            class="p-2 bg-blue-400 outline-none w-full md:max-w-[250px] rounded-full text-center md:text-lg md:p-3"
          >
            <!-- Modal toggle -->
            <button id="openModalBtn" type="button">Giriş Yap ya da Üye Ol</button>
          </a>
          <span class="max-w-xs">
            By signing up, you agree to the Terms of Service and Privacy Policy, including Cookie
            Use.
          </span>
        </div>
        <!-- Main modal -->
        <div
          id="submitModal"
          tabindex="-1"
          aria-hidden="true"
          class="fixed top-0 left-0 right-0 hidden z-50 w-full p-4 overflow-x-hidden flex items-center overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full"
        >
          <div class="w-full max-w-2xl">
            <!-- Modal content -->
            <div class="bg-slate-700 relative rounded-lg shadow">
              <button
                id="submitHideBtn"
                type="button"
                class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center"
              >
                <svg
                  class="w-3 h-3"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 14"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                  />
                </svg>
                <span class="sr-only">Close modal</span>
              </button>
              <div class="px-6 py-6 lg:px-8">
                <h3 class="mb-4 text-xl font-medium text-gray-900">Sign in to our platform</h3>
                <form class="space-y-6" action="#">
                  <div>
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900"
                      >Your email</label
                    >
                    <input
                      type="email"
                      name="email"
                      id="email"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                      placeholder="name@company.com"
                      required
                    />
                  </div>
                  <div>
                    <label
                      for="password"
                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                      >Your password</label
                    >
                    <input
                      type="password"
                      name="password"
                      id="password"
                      placeholder="••••••••"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                      required
                    />
                  </div>
                  <div class="flex justify-between">
                    <div class="flex items-start">
                      <div class="flex items-center h-5">
                        <input
                          id="remember"
                          type="checkbox"
                          value=""
                          class="w-4 h-4 border border-gray-300 rounded bg-gray-50"
                          required
                        />
                      </div>
                      <label for="remember" class="ml-2 text-sm font-medium text-gray-900"
                        >Remember me</label
                      >
                    </div>
                    <a href="#" class="text-sm text-blue-700 hover:underline">Lost Password?</a>
                  </div>
                  <button
                    type="submit"
                    class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                  >
                    Login to your account
                  </button>
                  <div class="text-sm font-medium text-gray-500">
                    Not registered?
                    <a href="#/signup" class="text-blue-700 hover:underline">Create account</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
  </body>
</html>
